body {
    font-family: Arial, sans-serif;
    margin: 10px;
    padding: 10px;
    background-image: url("../assets/pbg.jpeg");
    background-size: contain;
}
h1 {
    color: #333;
    font-size: 40px;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    background: chartreuse;
}
h2 {
    background: #ffffff;
    border-radius: 15px;
    width: fit-content;
    padding: 20px;
    color: #666;
}


#intro{
    background: #ffffff;
    border-radius: 5px;
    align-items: center;
    padding: 10px;
    justify-items: center;
    text-align: center;
    font-size: xxx-large;
}
.instructions p {
    padding: 20px;
    background-color: aqua;
    border-radius: 15px;
    line-height: 1.6;
    font-size: large;
}

.questions h2{
    width: 100%;
    justify-items: center;
    align-items: center;
    text-align: center;
}
.questions ul h3 {
    background: bisque;
    padding: 20px;
    border-radius: 15px;
    width: fit-content;
}

.files h2{
    width: 100%;
    justify-items: center;
    align-items: center;
    text-align: center;
}

.files div {
    align-content: center;
    align-items: center;
}

.files div h3 {
    padding: 20px;
    width: fit-content;
    background: bisque;
    border-radius: 15px;
}

.files h6 {
    font-size: large;
    background: coral;
    border-radius: 15px;
    padding: 20px;
    text-decoration-thickness: 15px;
}

.disclaimer {
    position: relative;
    bottom: 0;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 5px;
    margin-top: 20px;
}
.disclaimer h5 {
    color: #333;
    margin-top: 0;
}
.disclaimer p {
    color: #666;
    line-height: 1.6;
}
